// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

/* -------------------------------------------------------------------------------------------------------------------*/
/* Eksempel på AOS-animation på klasser =  <div class="box" data-aos="fade-up" data-aos-duration="1000"> */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300&family=Montserrat:wght@100;300;500;700&display=swap');




/* Sikrer billeder er responsive */
$tablet: "screen and (min-width: 768px)";

img {
	display: block; /* Billeder er et element (laver linjeskift) */
	max-width: 100%; /* Bredde må maks fylde 100% */
	height: auto; /* Højden skal tilpasse sig */
}

h1, h2, h2, h3, h4, h5, h6 { font-family: "montserrat", sans-serif}

p{
	font-family: "lato", sans-serif;
}

#logo{
	content: url("images/logo.png");
	max-height: 60px;
}
/* -- Nav Bar -- */
#mainNav div .fa-magnifying-glass{
	color:#69c8ff !important;
}

#mainNav div .fa-magnifying-glass:hover{
	color:#dc721a !important;
}

/* -- Vedrørende Tilmeldingssiden -- */
.card{
	@media #{$tablet} {
		width: 25%;
	}
}

/* -- Knapper -- */
.btn-primary{
	background-color: #69c8ff;
	border-color: #69c8ff;
	color: white;
	font-family: "lato", sans-serif;
}


.btn-primary:hover{
	background-color: #ffb714;
	border-color: #ffb714;
	color: black;
}

.btn-secondary{
	background-color: #ffb714;
	border-color: #ffb714;
	color: white;
	font-family: "lato", sans-serif;
}


.btn-secondary:hover{
	background-color: #69c8ff;
	border-color: #69c8ff;
	color: black;
}


.heroContent {
	position: absolute;
	top: 40%;
	left: 65%;
	transform: translate(-50%, -50%);
}

.heroContent h1 {
	font-size: 3em;
}


/* -- Nyhedstilmelding -- */
.nyhedTilmelding{
	background-color: #ffd571;
}

#addon-wrapping{
	background-color:#dc721a;
	border-color: #dc721a;
	color: black;
}

/* -- Footer -- */

/* Font Icon */
.footer .container .row .mb-lg-0 .btn-social .fa-facebook-f{
	color:#69c8ff !important;
}
/* Font Icon */
.footer .container .row .mb-lg-0 .btn-social .fa-instagram{
	color:#69c8ff !important;
}

.footer .lead a{
	color:black;
}

.footer{
	background-color: #f0f2f1;
}


.dropdown-item:hover{
	background-color: #69c8ff;
}




